<!DOCTYPE html>
<html lang='en'>

    <head>
        <link href='{{ url_for('static', filename='styles/styles.css') }}' rel='stylesheet' type='text/css' >
        <!-- <link href='static/styles/styles.css' rel='stylesheet' type= 'text/css'  > -->
        <title>{{title}}</title>
    </head>
    <body>
        <div class='container'>

            <nav class='header'>
      
              <h1 class='title'><a href='/'>Blogz!</a></h1>
              <a href='/blog' class='left spacing'>View All Blog Posts</a>
              <a href='/newpost' class='left'>New Blog Post</a>
              <a href='/logout' class='right'><i class='fa fa-sign-out'></i> Logout</a>
              <a href='/login' class='right spacing'><i class='fa fa-sign-in'></i> Login</a>
      
            </nav>
            {% block content %}
            {% endblock %}
          </div>

    </body>
</html>
